<%- include ('./templates/_header.ejs', { title: '404'} ); %>
<link rel="stylesheet" href="/css/404.css">
<body>
    <div class="container-404">
        <div class="p-container-404">
            <p class="p-404">404 Bad Gateway</p>
            <p class="p-404">Page Not Found</p>
            <p class="p-404">Cannot Get Route: <br><%= originalUrl %></p>
        </div>
        <img src="/img/MUN_PRISM_1024.png" class="img-404">
    </div>
</body>
</html>