<%- include ('./templates/_header.ejs', { title: 'Admin Auth'} ); %>
<body>
    <p class="header">Authorize Access</p>
    <input class="full input item" type="text" name="adminCode" id="adminCode" placeholder="Admin Code">
    <button class="full button item" id="submit">Submit</button>
    <script src="/js/adminAuth.js"></script>
</body>
</html>