<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Create Committee</title>
</head>
<body>
    <div class="spacing">
        <p class="header">Create Committee</p>
        <input class="full input item" type="text" name="name" id="name" placeholder="Committee Name">
        <p id="error" class="subtitle" style="display: none;">This is a required field</p>
        <button class="full button item" id="create">Create</button>
    </div>
    <script src="/js/createCommittee.js"></script>
</body>
</html>