<%- include ('./templates/_header.ejs', { title: 'Home'} ); %>
<body>
    <a class="full button item" href="/createCommittee">Create New Committee</a>
    <input class="full input item" type="text" name="search" id="search" placeholder="&#x1F50E;&#xFE0E; Search Committees">
    <div id="committee-container" class="committee-container"></div>
    <button class="full button item confirm" id="delete-all">Delete All Committees</button>
    <script src="/js/internal.js"></script>
    <script src="/js/viewCommittees.js"></script>
    
    <!--
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/internal.js"></script>
    <script src="/js/timerUpdates.js"></script>
    -->
</body>
</html>