<%- include ('./templates/_header.ejs', { title: 'Session'} ); %>
<body>
    <p class="header"><%= name %> Session</p>
    <div class="country-container">
        <div class="un-country-box" id="all-countries">
            <input class="session-searchbar" type="text" name="search" id="search">
        </div>
        
        <div class="country-box">

        </div>
    </div>
    <script src="/js/session.js"></script>
</body>
</html>