<%- include ('./templates/_header.ejs', { title: 'Session'} ); %>
<body>
    <p class="header"><%= name %> Session</p>
    <div class="country-container">
        <div class="un-country-box">
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
        </div>
        
        <div class="country-box">

        </div>
    </div>
    <script src="/js/session.js"></script>
</body>
</html>