<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/popup.css">
</head>
<body>
    <p>test text 1</p>
    <!--
    <div id="popup" style="display: none;">
        <div class="popup-blackout"></div>
        <div class="popup-container">
            <div class="popup-menu">
                <p class="popup-small-header">Warning!</p>
                <p class="popup-text">Are you sure you wish to delete this committee? This is a dangerous action that cannot be undone</p>
                <button class="popup-button popup-text popup-blue">Cancel</button>
                <button class="popup-button popup-text popup-red">Confirm</button>
                <input type="text" name="" id="" class="popup-input popup-text">
            </div>
        </div>
    </div>
    -->
    <button>test button</button>
    <p>test text 2</p>
    <script src="/js/popup.js"></script>
</body>
</html>