<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/popup.css">
</head>
<body>
    <div class="template" data-name="testTemplate" data-route="main" id="wewewe">
        <img data-route="image" src="" alt="">
        <div>
            <div>
                <div></div>
                <div>
                    <div>
                        <div>
                            <div></div>
                            <div></div>
                            <div data-route="test" id="wowowowowowow"></div>
                        </div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="HIIII" data-route="second"></div>
    </div>
    <script src="/js/templates.js"></script>
</body>
</html>