<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
</head>
<body>
    <div id="timer" data-startTime="60">
        <p id="time"></p>
        <button id="timer-toggle">Start</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/timersManager.js"></script>
</body>
</html>