.committee-text {
    font-size: var(--font-medium);
    padding-left: var(--padding-small);
    color: var(--dark-gray);
}

.committee-button {
    font-size: var(--font-medium);
    color: white;
    border-radius: 10px;
    padding: var(--padding-small) var(--padding-small) var(--padding-small) var(--padding-small);
    margin-left: var(--padding-small);
    text-decoration: none;
    transition: background-color 250ms;
}

.edit {
    background-color: var(--blue) !important;
}

.edit:hover {
    background-color: var(--dark-blue) !important;
}

.delete {
    cursor:pointer;
    background-color: var(--red) !important;
}

.delete:hover {
    background-color: var(--dark-red) !important;
}

.committee {
    display: flex;
    width: calc(100% - calc(var(--side-space) * 2));
    align-items: center;
    box-sizing: border-box;
    margin-left: var(--side-space);
    margin-right: var(--side-space);
    margin-top: var(--padding);
    box-shadow: 0 0 5px 5px var(--light-gray);
    border-radius: 10px; 
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
}

.committee-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    padding-right: var(--padding-small);
}

.committee-container {
    margin-top: var(--padding);
    height: 650px;
    overflow-y: auto;
}