/* Imports */
@import 'committees.css';
@import 'popup.css';
@import 'notification.css';
@import 'session/setup.css';
@import 'session/navbar.css';
@import 'session/speakersList.css';
@import 'session/rollCall.css';
@import 'session/sidePanel.css';
@import 'session/topBar.css';
@import 'session/motions.css';
@import 'session/unmod.css';
@import 'session/mod.css';
@import 'session/voting.css';
/* /Imports */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --light-green: #b0ffc4;
    --green: #40cc63;
    --dark-green: #419b57;

    --light-blue: #c8dcff;
    --blue: #679cff;
    --dark-blue: #314d81;

    --light-red: #f5adad;
    --red: #d34b4b;
    --dark-red: #832424;

    --light-orange: #e2d1b7;
    --orange: #ecaa46;
    --dark-orange: #9e702c;

    --purple: #a873d3;
    --dark-purple: #734f91;

    --light-gray: #dfdfdf;
    --gray: #9b9b9b;
    --dark-gray: #414141;

    --translucent-black: rgba(0, 0, 0, .5);

    --padding-small: .5vw;
    --padding: 1.25vw;

    --side-space: 5vw;

    --font-small: 1vw;
    --font-medium: 2vw;
    --font-large: 3vw;
}

.full {
    display: flex;
    width: calc(100% - calc(var(--side-space) * 2));
    box-sizing: border-box;
    margin-left: var(--side-space);
    margin-right: var(--side-space);
}

.button {
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border: none;
    border-radius: .5vw;
    font-size: var(--font-medium);
    color: white;
    height: calc(var(--font-medium) + calc(var(--padding-small) * 2));
    text-decoration: none;
    transition: background-color 250ms;
}

.button:hover {
    background-color: var(--dark-blue);
}

.input {
    border: solid .15vw var(--gray);
    border-radius: .5vw;
    font-size: var(--font-medium);
    color: var(--dark-gray);
    padding-left: var(--padding-small);
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
}

.item {
    margin-top: var(--padding);
}

.input:focus {
    outline: none;
}

.spacing {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: var(--font-large);
    padding-top: var(--padding);
    color: var(--dark-gray);
    text-align: center;
}

.subtitle {
    font-size: var(--font-small);
    padding-left: calc(var(--padding) + var(--padding-small));
    color: var(--red);
}