<div class="speakers-list-container">
    <div class="speakers-list">

    </div>
    <div class="add-speakers">
        <input class="add-speakers-search" type="text" name="search" id="search" placeholder="&#x1F50E;&#xFE0E; Search">
    </div>
</div>