<div class="motions-container">
    <div class="motion-submitting-country" id="submitting-country">
        <p class="motion-input-label">Submitting Country</p>
        <div class="submitting-country-container">
            <input class="motion-input" type="text" name="" id="submitting-country-input" placeholder="&#x1F50E;&#xFE0E; Country">
            <div class="motion-country">
                <img src="/global/flags/xx.png" id="submitting-country-img">
                <p id="submitting-country-text"></p>
            </div>
        </div>
    </div>
    <div class="motions">
        <div class="motion-buttons">
            <button class="motion-vote-pass" id="pass">Pass</button>
            <button class="motion-vote-fail" id="fail">Fail</button>
        </div>
        <div id="motions"></div>
    </div>
    <div class="motion-creator">
        <div class="motion-nav">
            <button class="motion-nav-button" data-page="mod">Mod</button>
            <button class="motion-nav-button" data-page="unmod">Unmod</button>
            <button class="motion-nav-button" data-page="custom">Custom</button>
        </div>
        <div class="motion-page" id="mod" style="display: none;">
            <p class="motion-input-label">Topic</p>
            <input class="motion-input" type="text" id="mod-topic" placeholder="Topic">
            <p class="motion-input-label">Duration</p>
            <input class="motion-input" type="number" id="mod-dur-min" placeholder="Minutes">
            <input class="motion-input" type="number" id="mod-dur-sec" placeholder="Seconds">
            <p class="motion-input-label">Speaking Time</p>
            <input class="motion-input" type="number" id="mod-st-min" placeholder="Minutes">
            <input class="motion-input" type="number" id="mod-st-sec" placeholder="Seconds">
            <button class="motion-button" id="submit-mod">Submit</button>
        </div>
        <div class="motion-page" id="unmod" style="display: none;">
            <p class="motion-input-label">Duration</p>
            <input class="motion-input" type="number" id="unmod-min" placeholder="Minutes">
            <input class="motion-input" type="number" id="unmod-sec" placeholder="Seconds">
            <button class="motion-button" id="submit-unmod">Submit</button>
        </div>
        <div class="motion-page" id="custom" style="display: none;">
            <p class="motion-input-label">Topic</p>
            <input class="motion-input" type="text" id="custom-topic" placeholder="Topic">
            <p class="motion-input-label">Duration</p>
            <input class="motion-input" type="number" id="custom-min" placeholder="Minutes">
            <input class="motion-input" type="number" id="custom-sec" placeholder="Seconds">
            <button class="motion-button" id="submit-custom">Submit</button>
        </div>
    </div>
</div>
<script src="/js/session/motionTabs.js"></script>