<%- include ('../templates/_header.ejs', { title: 'Roll Call'} ); %>
<body>
<script>
    let committee = <%- JSON.stringify(committee) %>;
    let countries = committee.countries;
</script>
<script src="/js/popup.js"></script>
<script src="/js/session/rollCall.js"></script>
</body>
</html>