<%- include ('../templates/_header.ejs', { title: 'Auth'} ); %>
<body>
    <%- include('../templates/_topBar.ejs', { title: 'Auth' }); %>
    <div class="container">
        <div class="box-container-grow">
            <p class="form-label">Authorize Access</p>
            <p class="form-label">First Name</p>
            <% if (firstName) { %>
                <input class="full input item" type="text" name="firstName" id="firstName" placeholder="First Name" value="<%= firstName %>">
            <% } else { %>

                <input class="full input item" type="text" name="firstName" id="firstName" placeholder="First Name">
            <% } %>
            <p class="form-label">Last Name</p>
            <% if (lastName) { %>
                <input class="full input item" type="text" name="lastName" id="lastName" placeholder="Last Name" value="<%= lastName %>">
            <% } else { %>
                <input class="full input item" type="text" name="lastName" id="lastName" placeholder="Last Name">
            <% } %>
            <p class="form-label">Acces Code</p>
            <input class="full input item" type="password" name="accessCode" id="accessCode" placeholder="Access Code">
            <button class="full button item" id="submit">Submit</button>
        </div>
    </div>
    <script src="/js/notification.js"></script>
    <script src="/js/auth/auth.js"></script>
</body>
</html>